html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  border: none;
}
a[class] {
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  background-color: #ffffff;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 60px;
}

/* --------- header --------------*/
.container-header {
  max-width: 1200px;
  position: relative;
}
.header__content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  z-index: 1;
}
.header__content::after {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgba(35, 82, 222, 0.5);
  z-index: 2;
}
.header__top-inner {
  position: absolute;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  min-height: 127px;
  align-items: flex-end;
  z-index: 4;
}
.logo {
  transition: outline 0.3s linear, background-color 0.3s ease-in-out;
}
.logo:focus {
  outline: 2px rgba(210, 232, 246, 0.5);
  border-radius: 3px;
  outline-style: solid;
}
.logo:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.logo:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu__btn {
  display: none;
}
.menu__list {
  max-height: 52px;
  display: flex;
}
.menu__item {
  padding-bottom: 16px;
  margin-right: 30px;
}
.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  transition: outline 0.3s linear, background-color 0.3s ease-in-out;
}
.menu__link:focus {
  padding: 1px;
  outline: 2px rgba(210, 232, 246, 0.5);
  border-radius: 3px;
  outline-style: solid;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link:active {
  color: rgba(255, 255, 255, 0.7);
}
.menu__link {
  color: #ffffff;
}
.header__content-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}
.content__text {
  margin-top: auto;
  color: #ffffff;
  margin-bottom: auto;
  z-index: 5;
}
.header-subtitle {
  display: block;
  padding-top: 170px;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
}
.header-title {
  display: block;
  max-width: 520px;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
}
.header__more {
  display: flex;
  width: 165px;
  position: relative;
  bottom: 30px;
  left: 43%;
  margin-bottom: 30px;
  z-index: 10;
}
.header__more-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  z-index: 8;
}
.header__more-text::after {
  content: "";
  display: flex;
  background: url("../images/arrow-down.svg") no-repeat top center;
  position: absolute;
  width: 37px;
  height: 23px;
  left: 40%;
  margin-top: 10px;
  transition: border-radius 0.3s, outline 0.3s, text-decoration 0.3s, color 0.3s;
}
.header__more-text:focus {
  border-radius: 3px;
  outline: 2px rgba(210, 232, 246, 0.5);
  outline-style: solid;
  padding: 1px 1px 39px;
  margin-bottom: -40px;
}
.header__more-text:hover {
  text-decoration: underline;
}
.header__more-text:active {
  color: rgba(255, 255, 255, 0.7);
}

/* --------- Section About------------ */
.about {
  padding: 142px 0;
}
.about__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 238px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.about__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}
.about__text p:not(:last-child) {
  margin-bottom: 25px;
}

/* --------- Section Skills-------------- */
.skills {
  background-color: #f6f6f8;
  padding: 140px 0;
}
.skills__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 230px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.skills__inner {
  display: flex;
  align-items: center;
}
.skills__image {
  margin-right: 90px;
}
.skills__info {
  flex: none;
  margin-top: 90px;
}
.skills__info-item {
  display: flex;
}
.skills__info-item:not(:last-child) {
  margin-bottom: 86px;
}
.skills__info-title {
  width: 65px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  transition: all 0.3s;
}
.skills__info-title:hover {
  opacity: 0.64;
}
.skills__info-row {
  width: 600px;
  background-color: #2352de;
  height: 32px;
  position: relative;
}
.skills__info-row span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.skills__info-row span::before {
  content: "";
  position: absolute;
  height: 32px;
  background-color: #dbdbed;
  width: 100%;
}

/* -------- Serction services ---------- */
.services {
  padding: 140px 0;
}
.services__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 210px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.services__items {
  display: flex;
}
.services__item {
  max-width: 330px;
  position: relative;
}
.services__item:not(:last-child) {
  margin-right: 90px;
}
.services__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.services__item--layout::before {
  background-image: url("../images/layout-icon.svg");
}
.services__item--dev::before {
  background-image: url("../images/dev-icon.svg");
}
.services__item--support::before {
  background-image: url("../images/support-icon.svg");
}
.services__item-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 25px;
  padding-top: 90px;
}
.services__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
}

/* -------- Section portfolio -------- */
.portfolio {
  padding-bottom: 140px;
}
.portfolio__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.portfolio__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 283px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.portfolio__btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #333333;
  transition: outline 0.3s linear, background-color 0.3s ease-in-out;
}
.portfolio__btn:focus {
  outline-color: #2352de;
}
.portfolio__btn:hover {
  text-decoration: underline;
  color: #2352de;
}
.portfolio__btn:active {
  color: #2352de;
  text-decoration: none;
}
.portfolio__btn:not(:last-child) {
  margin-right: 45px;
}
.mixitup-control-active {
  color: #2352de;
}
.portfolio__content {
  column-count: 3;
  column-gap: 45px;
}
.portfolio__item {
  margin-bottom: 45px;
}
.portfolio__link {
  transition: outline-color 0.3s;
}
.portfolio__link:focus {
  outline-color: rgba(35, 82, 222, 0.5);
}
.portfolio__add {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 210px;
  margin: 15px auto 0;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  background: #2352de;
  outline: 2px rgba(210, 232, 246, 0);
  transition: outline-color 0.3s linear, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  cursor: pointer;
}
.portfolio__add:focus {
  outline-color: rgba(35, 82, 222, 0.5);
}
.portfolio__add:hover {
  background-color: #ffffff;
  color: #2352de;
  outline: 2px rgba(210, 232, 246, 0.5);
  outline-style: solid;
}
.portfolio__add:active {
  background-color: #2352de;
  color: #ffffff;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

/* ------------ Section reviews ----------------- */
.reviews {
  padding: 140px 0;
  background-color: #f6f6f8;
}
.reviews__title {
  text-align: center;
}
.reviews__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 412px;
  height: 16px;
  left: 32.5%;
  bottom: 5px;
}
.reviews__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reviews__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 100px;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  max-width: 400px;
}
.reviews__image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.reviews__author {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #2352de;
  margin-bottom: 20px;
}
.reviews__video {
  background-image: url("../images/video-bg.jpg");
  width: 570px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-image 0.3s;
}
.reviews__video-link::before {
  content: "";
  background-image: url("../images/play.svg");
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.reviews__video-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.reviews__video-link img::after {
  display: none;
}
.reviews__video-link:focus::after {
  border: 3px solid #90a8ee;
  opacity: 0.3;
}
.reviews__video-link:hover::after {
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-size: 22%;
  background-position: center center;
  opacity: 1;
}
.reviews__video-link:active::after {
  background-size: 6%;
  opacity: 0.667;
}

/* ---------- Section numbers -------------- */
.numbers {
  padding: 140px 0;
}
.numbers__items {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.numbers__item {
  padding: 150px 40px 50px;
  background: #f6f6f8;
  border: 1px solid #dbdbed;
  position: relative;
  width: 23.333%;
  max-height: 286px;
}
.numbers__item:not(:last-child) {
  margin-right: 17px;
}
.numbers__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 35%;
  height: 80px;
}
.numbers__item--works::before {
  background-image: url(..//images/works-icon.svg);
  width: 98px;
}
.numbers__item--clients::before {
  background-image: url(..//images/clients-icon.svg);
  width: 92px;
}
.numbers__item--coffee::before {
  background-image: url(..//images/coffee-icon.svg);
  width: 80px;
}
.numbers__item--review::before {
  background-image: url(..//images/review-icon.svg);
  width: 80px;
}
.numbers__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 100%;
  color: #333333;
  text-align: center;
}
.numbers__title span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 20px;
}

/* ------ Section Contacts ----------- */
.contacts {
  padding-bottom: 140px;
}
.contacts__title {
  margin-bottom: 60px;
}
.contacts__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 242px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.contacts__inner {
  display: flex;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.contacts__text {
  min-width: 530px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
  margin-bottom: 30px;
}
.contacts__data {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2352de;
  margin-bottom: 15px;
  transition: outline-color 0.3s;
}
.contacts__data:focus {
  outline-color: #91a8ef;
}
.contacts__data:hover {
  text-decoration: underline;
}
.contacts__data--mail {
  margin-bottom: 21px;
}
.contacts__socials {
  display: flex;
}
.contacts__social {
  transition: outline-color 0.3s;
}
.contacts__social:not(:last-child) {
  margin-right: 20px;
}
.contacts__social-link:focus {
  outline-color: #91a8ef;
}
.form__row {
  display: flex;
  gap: 30px;
}
.form label {
  display: block;
  margin-bottom: 10px;
  color: #333333;
}
.form__data,
.form__message {
  border: none;
  padding: 13px 15px;
  font-weight: 400;
  background-color: #f6f6f8;
  margin-bottom: 30px;
  transition: outline-color 0.3s;
}
.form__data {
  min-width: 255px;
}
.form__data::placeholder,
.form__message::placeholder {
  font-weight: 400;
  color: #9c9cab;
}
.form__message {
  min-width: 540px;
  min-height: 114px;
  resize: none;
}
.form__data,
.form__message:focus {
  outline-color: #91a8ef;
}
.form__data,
.form__message:hover {
  color: #000000;
}
.button {
  padding: 12px 24px;
  background-color: #2352de;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  cursor: pointer;
  transition: outline-color 0.3s, outline 0.3s;
}
.button:focus {
  outline-color: rgba(35, 82, 222, 0.5);
}
.button:hover {
  background-color: #ffffff;
  color: #2352de;
  outline: 2px rgba(210, 232, 246, 0.5);
  outline-style: solid;
}

/* -------  footer ----------- */
.footer {
  background-color: #343740;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  padding: 50px 0;
}

/* ============== Adaptive ================ */
@media (max-width: 1200px) {
  .skills__image {
    margin-right: 70px;
  }
  .skills__info-row {
    width: 55vh;
    padding-right: 15px;
  }
  .services__item:not(:last-child) {
    margin-right: 70px;
  }
}

@media (max-width: 1067px) {
  .skills__image {
    margin-right: 60px;
  }
  .services__item {
    max-width: 290px;
  }
  .services__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media (max-width: 967px) {
  .skills__image {
    margin-right: 50px;
  }
  .skills__info-item {
    flex-direction: column;
  }
  .skills__info-title {
    margin: 0 auto 10px;
  }
  .skills__info-item:not(:last-child) {
    margin-bottom: 60px;
  }
  .services__item {
    max-width: 280px;
  }
  .services__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media (max-width: 867px) {
  .title {
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .header__top-inner {
    align-items: center;
    z-index: 4;
  }
  .menu__btn {
    width: 30px;
    height: 20px;
    background: url(..//images/menu-btn.svg) no-repeat center;
    background-size: contain;
    display: block;
    background-color: transparent;
    border: none;
    padding: 7px 90px 5px 0;
    position: relative;
    transition: background-image 0.3s;
    z-index: 3;
  }
  .logo {
    position: relative;
    z-index: 3;
  }
  .menu__list {
    position: absolute;
    max-height: 80vh;
    left: 0;
    right: 0;
    top: 0;
    background-color: #7792e0;
    flex-direction: column;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 0.5s;
    z-index: 2;
  }
  .header__top-inner.header__top-inner--active .menu__list {
    transform: translateY(0);
  }
  .header__top-inner.header__top-inner--active .menu__btn {
    background-image: url(..//images/menu-close.svg);
  }
  ul.menu__list {
    padding: 80px 0 5px;
  }
  .menu__item {
    margin-right: 0;
    padding: 11px 0;
  }
  .menu__link {
    display: block;
    transition: background-color 0.2s;
  }
  .menu__item:active {
    outline-color: #2352de;
    background-color: #2352de;
    border: none;
  }
  .header-subtitle {
    font-size: 43px;
  }
  .header-title {
    font-size: 63px;
  }
  .header-subtitle {
    padding-top: 250px;
  }
  .about {
    padding: 75px 0;
  }
  .about__title::after {
    width: 202px;
    position: absolute;
    left: auto;
  }
  .skills {
    padding: 75px 0;
  }
  .skills__title::after {
    width: 196px;
    left: auto;
  }
  .skills__inner {
    display: flex;
    flex-direction: column;
  }
  .skills__inner img {
    width: 90vh;
    padding: 0 23px;
    margin: 0 auto 45px;
  }
  .skills__info-row {
    width: 80vh;
    padding-right: 15px;
  }
  .skills__info-item:not(:last-child) {
    margin-bottom: 50px;
  }
  .services {
    padding: 75px 0;
  }
  .services__title::after {
    width: 180px;
    left: auto;
  }
  .services__items {
    flex-direction: column;
  }
  .services__item {
    max-width: 100vh;
  }
  .services__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .services__item-title {
    font-size: 26px;
    margin-bottom: 20px;
    padding-top: 80px;
  }
  .services__item::before {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}

@media (max-width: 468px) {
  .title {
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 30px;
  }
  .header__top-inner {
    align-items: start;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: -15px;
  }
  .header-subtitle {
    font-size: 28px;
  }
  .header-title {
    max-width: 400px;
    font-size: 40px;
  }
  .header__more-text {
    font-size: 14px;
  }
  .header__more {
    left: 35%;
  }
  .header__more-text::after {
    left: 27%;
  }
  .logo {
    max-width: 110px;
  }
  .menu__btn {
    padding: 7px 70px 5px 0;
  }
  ul.menu__list {
    padding: 80px 0 100vh;
  }
  .header-subtitle {
    padding-top: 170px;
  }
  .about {
    padding: 50px 0;
  }
  .about__title::after {
    width: 142px;
    height: 10px;
    bottom: 2px;
  }
  .about__text p {
    font-size: 16px;
  }
  .about__text p:not(:last-child) {
    margin-bottom: 15px;
  }
  .skills {
    padding: 50px 0;
  }
  .skills__inner img {
    margin-bottom: 30px;
  }
  .skills__info-title {
    margin-bottom: 5px;
  }
  .skills__title::after {
    width: 136px;
    height: 10px;
    bottom: 2px;
  }
  .skills__info-row {
    width: 45vh;
  }
  .skills__info-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .skills__title::after {
    width: 136px;
    height: 10px;
    bottom: 2px;
  }
  .services {
    padding: 50px 0;
  }
  .services__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .services__item-title {
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 50px;
  }
  .services__title::after {
    width: 122px;
    height: 10px;
    bottom: 2px;
  }
  .services__item::before {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}
