html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  border: none;
}
a[class] {
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  background-color: #ffffff;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 60px;
}
/* --------- header --------------*/
.container-header {
  max-width: 1200px;
  position: relative;
}
.header__content {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  z-index: 1;
}
.header__content::after {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: rgba(35, 82, 222, 0.5);
  z-index: 2;
}
.header__top-inner {
  position: absolute;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  min-height: 127px;
  align-items: flex-end;
  z-index: 4;
}
.logo {
  transition: outline 0.3s linear, background-color 0.3s ease-in-out;
}
.logo:focus {
  outline: 2px rgba(210, 232, 246, 0.5);
  border-radius: 3px;
  outline-style: solid;
}
.logo:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.logo:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu__list {
  max-height: 52px;
  display: flex;
}
.menu__item {
  padding-bottom: 16px;
}
.menu__item {
  margin-right: 30px;
}
.menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  transition: outline 0.3s linear, background-color 0.3s ease-in-out;
}
.menu__link:focus {
  padding: 1px;
  outline: 2px rgba(210, 232, 246, 0.5);
  border-radius: 3px;
  outline-style: solid;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link:active {
  color: rgba(255, 255, 255, 0.7);
}
.menu__link {
  color: #ffffff;
}
.header__content-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
}
.content__text {
  margin-top: auto;
  color: #ffffff;
  margin-bottom: auto;
  z-index: 5;
}
.header-subtitle {
  padding-top: 170px;
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
}
.header-title {
  max-width: 520px;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
}
.header__more {
  display: flex;
  width: 165px;
  position: relative;
  bottom: 30px;
  left: 43%;
  margin-bottom: 30px;
  z-index: 10;
}
.header__more-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  z-index: 8;
}
.header__more-text::after {
  content: "";
  display: flex;
  background: url("../images/arrow-down.svg") no-repeat top center;
  position: absolute;
  width: 37px;
  height: 23px;
  left: 40%;
  margin-top: 10px;
  transition: all 0.3s;
}
.header__more-text:focus {
  border-radius: 3px;
  outline: 2px rgba(210, 232, 246, 0.5);
  outline-style: solid;
  padding: 1px 1px 39px;
  margin-bottom: -40px;
}
.header__more-text:hover {
  text-decoration: underline;
}
.header__more-text:active {
  color: rgba(255, 255, 255, 0.7);
}
/* --------- Section About------------ */
.about {
  padding: 142px 0;
}
.about__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 238px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.about__text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
  margin-bottom: 30px;
}
/* --------- Section Skills-------------- */
.skills {
  background-color: #f6f6f8;
  padding: 140px 0;
}
.skills__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 230px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.skills__inner {
  display: flex;
}
.skills__image {
  margin-right: 90px;
}
.skills__info {
  flex: none;
  margin-top: 90px;
}
.skills__info-item {
  display: flex;
}
.skills__info-item:not(:last-child) {
  margin-bottom: 86px;
}
.skills__info-title {
  width: 65px;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #333333;
  transition: all 0.3s;
}
.skills__info-title:hover {
  opacity: 0.64;
}
.skills__info-row {
  width: 600px;
  background-color: #2352de;
  height: 32px;
  position: relative;
}
.skills__info-row span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.skills__info-row span::before {
  content: "";
  position: absolute;
  height: 32px;
  background-color: #dbdbed;
  width: 100%;
}
/* -------- Serction services ---------- */
.services {
  padding: 140px 0;
}
.services__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 210px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.services__items {
  display: flex;
}
.services__item {
  max-width: 330px;
  position: relative;
}
.services__item:not(:last-child) {
  margin-right: 90px;
}
.services__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.services__item--layout::before {
  background-image: url("../images/layout-icon.svg");
}
.services__item--dev::before {
  background-image: url("../images/dev-icon.svg");
}
.services__item--support::before {
  background-image: url("../images/support-icon.svg");
}
.services__item-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 25px;
  padding-top: 90px;
}
.services__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
}
/* -------- Section portfolio -------- */
.portfolio {
  padding-bottom: 140px;
}
.portfolio__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.portfolio__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 283px;
  height: 16px;
  left: 0;
  bottom: 5px;
}
.portfolio__btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #333333;
  transition: outline 0.3s linear, background-color 0.3s ease-in-out;
}
.portfolio__btn:focus {
  outline-color: #2352de;
}
.portfolio__btn:hover {
  text-decoration: underline;
  color: #2352de;
}
.portfolio__btn:active {
  color: #2352de;
  text-decoration: none;
}
.portfolio__btn:not(:last-child) {
  margin-right: 45px;
}
.mixitup-control-active {
  color: #2352de;
}
.portfolio__content {
  column-count: 3;
  column-gap: 45px;
}
.portfolio__item {
  margin-bottom: 45px;
}
.portfolio__link {
  transition: outline-color 0.3s;
}
.portfolio__link:focus {
  outline-color: rgba(35, 82, 222, 0.5);
}
.portfolio__add {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 210px;
  margin: 15px auto 0;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  background: #2352de;
  outline: 2px rgba(210, 232, 246, 0);
  transition: outline-color 0.3s linear, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  cursor: pointer;
}
.portfolio__add:focus {
  outline-color: rgba(35, 82, 222, 0.5);
}
.portfolio__add:hover {
  background-color: #ffffff;
  color: #2352de;
  outline: 2px rgba(210, 232, 246, 0.5);
  outline-style: solid;
}
.portfolio__add:active {
  background-color: #2352de;
  color: #ffffff;
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}
/* ------------ Section reviews ----------------- */
.reviews {
  padding: 140px 0;
  background-color: #f6f6f8;
}
.reviews__title {
  text-align: center;
}
.reviews__title::after {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.1);
  width: 412px;
  height: 16px;
  left: 32.5%;
  bottom: 5px;
}
.reviews__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.reviews__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 100px;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  max-width: 400px;
}
.reviews__image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.reviews__author {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #2352de;
  margin-bottom: 20px;
}
.reviews__video {
  background-image: url("../images/video-bg.jpg");
  width: 570px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;
}
.reviews__video-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
.reviews__video-link img::after {
  display: none;
}
.reviews__video-link:focus::after {
  opacity: 0.3;
}
.reviews__video-link:hover::after {
  opacity: 1;
  background-image: url(../images/play.svg);
  background-repeat: no-repeat;
  background-size: 22%;
  background-position: center center;
}
.reviews__video-link:active::after {
  opacity: 0.667;
  background-size: 6%;
}
/* ---------- Section numbers -------------- */
.numbers {
  padding: 140px 0;
}
.numbers__items {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.numbers__item {
   padding: 50px 46px;
   background: #f6f6f8;
   border: 1px solid #dbdbed;
   position: relative;
}
.numbers__item:not(:last-child){
margin-right: 17px;
}
.numbers__item::before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
   margin-bottom: 20px;

 }
 .numbers__item--works::before{
   background-image: url(..//images/works-icon.svg);
   width: 98px;
 } 
 .numbers__item--clients::before{
   background-image: url(..//images/clients-icon.svg);
   width: 92px;
 } 
 .numbers__item--coffee::before{
   background-image: url(..//images/coffee-icon.svg);
   width: 80px;
 } 
 .numbers__item--works::before{
   background-image: url(..//images/review-icon.svg);
   width: 80px;
 } 
.numbers__title {
  font-weight: 600;
  font-size: 44px;
  line-height: 100%;
  color: #333333;
  text-align: center;
}
.numbers__title span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #333333;
  margin-bottom: 20px;
}
